[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-whisper-theme"]
	path = themes/hugo-whisper-theme
	url = git@github.com:zerostaticthemes/hugo-whisper-theme.git
